
#titleLabel{
    -fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #efbaf5 0.0%, #eb2fb9 100.0%);
    -fx-font-family: "Tahoma";
    -fx-font-size: 70px;
    -fx-effect: dropshadow(gaussian, rgba(255, 105, 180, 0.8), 10, 0, 0, 0),
    dropshadow(gaussian, rgba(128, 0, 128, 0.8), 10, 0, 0, 0);
}

.label{
    -fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #efbaf5 0.0%, #eb2fb9 100.0%);
    -fx-font-family: "Tahoma";
}

.root { -fx-focus-color: transparent; }

.button{
    -fx-background-color:  #2E0854;
    -fx-font-family: "Tahoma";
    -fx-text-fill: #efbaf5;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.button:hover{
    -fx-background-color: #4B0082;
}




